<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About us</title>
</head>
<body>
	<h1>About our company</h1>
	<!--Navigation panel -->
	<nav>
	<a href="/">Home page </a>
	<a href="/about">About Page</a>
	<a href="/support">Support us</a>
	</nav>
	<p>Clintons inc E-Library</p>
	<br>
	<p>Your reliable library for the greatest books in the history of reading</p>
	<br>
	<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ullam maiores! Ipsum, totam. Atque modi laboriosam molestiae eaque dignissimos hic ratione at quasi, repellat perspiciatis totam dolore reiciendis minus mollitia!</p>
	<br>
	<p>Clinton is a maths and computer science student in Kenya - Africa. He has gone out of his way to explore the world of technology and started off as a red-team penetration tester, before switching to working with C++, Java and currently Javascript. He is also a crypto-currency enthusiast and maintains a keen eye on the market. He is also looking foward to web3 development especially in the field of smart contract development for decentralized finance </p>
</body>
</html>
