<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Clinton Book App</title>
</head>
<body>
	<h1>We have the following list of books currently available</h1>
	<ul>
		<li><strong>Pride and prejudice </strong>: Jane Austen</li>
		<li><strong>The Caucasian chalk circle<strong> </li>
		<li><strong>A Dolls house<strong></li>
		<li><strong>Animal Farm<strong></li>
		<li><strong>The Pearl</strong><li>
	</ul>
	<!--introducing a nav panel to navigate through instead of having to manually type the routes-->
	<nav>
		<a href="/">Home page </a>
		<a href="/about">About Page</a>
		<a href="/support">Support us</a>
		</nav>
</body>
</html>
