<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Support us</title>
</head>
<body>
	<!--Navigation panel -->
	<nav>
	<a href="/">Home page </a>
	<a href="/about">About Page</a>
	<a href="/support">Support us</a>
	</nav>
	<h1> Support our projects</h1>
	<p>Clintons inc is currency being development single-handedly. We aim to assist in the exposure of Africa to more online opportunities by creating awareness, offering educational programs and learning  management systems, increasing the number of people who can easily and cheaply acess the internet as well as take advantage of it and all the jobs and commercial opportunities online.<strong> Your contribution is highly valued and will be put to good use under my strong transparent leadership. Thankyou</strong>
		</p>
		<br>
		<p> You can send money directly to 254114597682 or ethereum via <br> <strong>0xef587C1A92e5Bd8a8906F1686A8078eb98A03108</strong> </p>
</body>
</html>
